<section id="hosts">
    <h3>Hosts:</h3>

    <ul>
        <li>
            <a href="http://cimaszewski.eu/">
                <img src="/assets/images/hosts/mcimasz2.png"/>
                <span>Marcin Cimaszewski</span>
            </a>
        </li>
        <li>
            <a href="http://piecioshka.pl/blog/">
                <img src="/assets/images/hosts/piecioshka.jpg"/>
                <span>Piotr Kowalski</span>
            </a>
        </li>
        <li>
            <a href="https://twitter.com/piotr_zientara">
                <img src="/assets/images/hosts/tuhaj.jpg"/>
                <span>Piotr Zientara</span>
            </a>
        </li>
    </ul>
</section>
