<section id="hosts">
    <h3>Hosts:</h3>

    <ul>
        <li>
            <a href="http://piecioshka.pl/blog/">
                <img src="/assets/images/hosts/piecioshka.jpg" alt="Piotr Kowalski"/>
                <span>Piotr Kowalski</span>
            </a>
        </li>
        <li>
            <a href="http://grabowska.org/">
                <img src="/assets/images/hosts/kasiarzyna25.jpeg" alt="Katarzyna Grabowska"/>
                <span>Katarzyna Grabowska</span>
            </a>
        </li>
        <li>
            <a href="https://twitter.com/piotr_zientara">
                <img src="/assets/images/hosts/tuhaj.jpg" alt="Piotr Zientara"/>
                <span>Piotr Zientara</span>
            </a>
        </li>
    </ul>
</section>
