<section id="hosts">
    <h3>Hosts:</h3>

    <ul>
        <li>
            <a href="https://piecioshka.pl/">
                <img src="/assets/images/hosts/piotr-kowalski.jpg" alt="Piotr Kowalski"/>
                <span>Piotr Kowalski</span>
            </a>
        </li>
        <li>
            <a href="https://grabowska.org/">
                <img src="/assets/images/hosts/katarzyna-grabowska.jpg" alt="Katarzyna Grabowska"/>
                <span>Katarzyna Grabowska</span>
            </a>
        </li>
        <li>
            <a href="https://twitter.com/piotr_zientara">
                <img src="/assets/images/hosts/piotr-zientara.jpg" alt="Piotr Zientara"/>
                <span>Piotr Zientara</span>
            </a>
        </li>
    </ul>
</section>
