<div id="player-wrapper">
    <h2>WarsawJS livestream start 2016-03-09 at 18:30 CET</h2>
    <div id="player">
        <a href="#" class="play-button">
            <img src="/assets/images/player/playerbutton135x135.png" alt="Play" />
        </a>
    </div>
    <div class="links">
        Change quality:
        <a data-quality="360p">360p</a>
        <a data-quality="720p">720p</a>
        <a data-quality="1080p">1080p</a>
    </div>
</div>

<script src="/vendors/flowplayer/flowplayer-3.2.13.min.js"></script>
<script src="/assets/scripts/core/player-setup.js"></script>
