<div class="socials">
    <a href="http://meetup.com/warsawjs/" class="master">
        <img src="/images/social/meetup122x79.png" alt="Meetup">
    </a>

    <ul>
        <li>
            <a href="http://facebook.com/warsawjs/">
                <img src="/images/social/fb40x40.png" alt="Facebook">
            </a>
        </li>
        <li>
            <a href="http://twitter.com/warsawjs/">
                <img src="/images/social/tw40x40.png" alt="Twitter">
            </a>
        </li>
        <li>
            <a href="https://plus.google.com/+Warsawjs/">
                <img src="/images/social/g+40x40.png" alt="G+">
            </a>
        </li>
        <li>
            <a href="https://www.youtube.com/channel/UCzYf3wdKSKnR5lvkRVUyCYg">
                <img src="/images/social/yt40x40.png" alt="YouTube">
            </a>
        </li>
    </ul>

    <a href="http://goo.gl/v6KbBy" class="speaker-form">Speaker form</a>
</div>
