<div class="socials">
    <a href="http://meetup.com/warsawjs/" class="master" target="_blank">
        <img src="/assets/images/social/meetup122x79.png" alt="Meetup">
    </a>

    <ul>
        <li>
            <a href="http://facebook.com/warsawjs/" target="_blank">
                <img src="/assets/images/social/fb40x40.png" alt="Facebook">
            </a>
        </li>
        <li>
            <a href="https://www.youtube.com/channel/UCzYf3wdKSKnR5lvkRVUyCYg" target="_blank">
                <img src="/assets/images/social/yt40x40.png" alt="YouTube">
            </a>
        </li>
        <li>
            <a href="http://twitter.com/warsawjs/" target="_blank">
                <img src="/assets/images/social/tw40x40.png" alt="Twitter">
            </a>
        </li>
        <li>
            <a href="https://plus.google.com/+Warsawjs/" target="_blank">
                <img src="/assets/images/social/g+40x40.png" alt="G+">
            </a>
        </li>
    </ul>

    <a href="http://bit.ly/warsawjs-page-speaker-form" class="speaker-form" target="_blank">Speaker form</a>
</div>
