<aside id="sponsors">
    <h3>Sponsors:</h3>

    <ul>
        <li>
            <a href="http://10clouds.com/">
                <img src="/assets/images/sponsors/10clouds-logo-500x200.png" alt="10Clouds logo"/>
                <span>10Clouds</span>
            </a>
        </li>
        <li>
            <a href="http://www.cyfrowypolsat.pl/">
                <img src="/assets/images/sponsors/cp-logo-500x209.png" alt="Cyfrowy Polsat logo"/>
                <span>Cyfrowy Polsat</span>
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/whitestreampl/">
                <img src="/assets/images/sponsors/whitestream-logo-500x500.png" alt="Whitestream logo"/>
                <span>Whitestream</span>
            </a>
        </li>
        <li>
            <a href="http://www.softwarely.pl/">
                <img src="/assets/images/sponsors/softwarely-logo-500x381.png" alt="Softwarely logo" />
                <span>Softwarely</span>
            </a>
        </li>
    </ul>
</aside>
