<aside id="sponsors">
    <h3>Sponsors</h3>

    <ul>
        <li>
            <a href="https://10clouds.com/">
                <img src="/assets/images/sponsors/10clouds-logo-500x200.png"
                        alt="10Clouds logo"/>
                <span>10Clouds</span>
            </a>
        </li>
        <li>
            <a href="https://artificial.io/">
                <img src="/assets/images/sponsors/artificial-logo-394x110.png"
                        alt="Artificial Labs logo"/>
                <span>Artificial Labs</span>
            </a>
        </li>
        <li>
        <!-- no https TODO replace address when ready
        -->
            <a href="http://www.grupapolsat.pl/pl/oferty-pracy">
                <img src="/assets/images/sponsors/cp-logo-500x209.png"
                        alt="Cyfrowy Polsat logo"/>
                <span>Cyfrowy Polsat</span>
            </a>
        </li>
        <li>
            <a href="https://daftcode.pl/">
                <img src="/assets/images/sponsors/daftcode-800x400.png"
                        alt="DaftCode logo"/>
                <span>DaftCode</span>
            </a>
        </li>
        <li>
            <a href="https://www.elpassion.com/">
                <img src="/assets/images/sponsors/elpassion-500x200.png"
                        alt="EL Passion logo"/>
                <span>EL Passion</span>
            </a>
        </li>
        <li>
            <a href="https://evojam.com/">
                <img src="/assets/images/sponsors/evojam-logo-500x271.png"
                        alt="Evojam logo"/>
                <span>Evojam</span>
            </a>
        </li>
        <li>
            <!-- no https TODO replace address when ready -->
            <a href="http://softwarely.pl/">
                <img src="/assets/images/sponsors/softwarely-logo-500x381.png"
                        alt="Softwarely logo" />
                <span>Softwarely</span>
            </a>
        </li>
        <li>
            <!-- no https TODO replace address when ready -->
            <a href="http://www.softwareplant.com/dev/#utm_source=warsawjs&utm_medium=sponsor">
                <img src="/assets/images/sponsors/software-plant-logo-500x210.png"
                        alt="SoftwarePlant logo" />
                <span>SoftwarePlant</span>
            </a>
        </li>
    </ul>
</aside>
