#calendar-link {
    text-align: center;
    margin-top: 10px;

    @media (max-width: 1200px) {
        margin-top: 0px;
    }

    h3 {
        color: #f7302f;
        font-weight: 300;
        border-bottom: 1px solid;

        a {
            color: inherit;
            font-weight: bold;
            text-decoration: none;

            &:hover {
                background: #f7302f;
                color: #fff;
            }
        }
    }
}
