#twitter-timeline {
    position: absolute;
    right: 50px;
    top: 390px;
    width: 250px;

    h3 {
        color: #f7302f;
        font-weight: 300;
        border-bottom: 1px solid;
        text-align: right;
    }
}

@media (max-width: 1200px) {
    #twitter-timeline {
        display: none;
    }
}
