article {
    font-family: 'Fira Sans', Arial, sans-serif;
    font-weight: 300;

    a {
        @include simple-link();
    }
}

figure {
    margin: 20px auto;
    padding: 20px 0;

    img {
        display: block;
        height: auto;
        margin: 10px auto;
        border-radius: 4px;
        max-width: 100%;
    }

    figcaption {
        text-align: center;
        font-style: italic;
    }
}
