footer {
    margin: 100px 0 0 0;
    text-align: center;
    font-family: 'Fira Sans', Arial, sans-serif;
    font-weight: 300;

    p {
        a {
            @include simple-link();
        }
    }
}

