#player-wrapper {
    margin: 0 0 11px 0;
}

#player-wrapper > h2 {
    font-family: 'Fira Sans', Arial, sans-serif;
    font-weight: 500;
    color: #f7302f;
    font-size: 24px;
    text-align: center;
    margin: 0 0 40px 0;
}

#player-wrapper .links {
    margin-top: 5px;
    text-align: right;
    font-family: 'Fira Sans', Arial, sans-serif;
    font-weight: 300;
}

#player-wrapper .links a {
    cursor: pointer;
    color: #f7302f;
    font-weight: 400;
}

#player-wrapper .links a.active {
    color: black;
}
