/* Styles for whole page */
/* --------------------- */

html {
    background-color: #fff;
}

body {
    margin: 0;
}

#page {
    width: 590px;
    margin: 0 auto 50px;
}

@media (min-width: 240px) and (max-width: 590px) {
    #page {
        width: auto;
    }
}

/* Header */

header {
    margin-top: 60px;
    height: 240px;
}

@media (min-width: 240px) and (max-width: 590px) {
    header {
        margin-top: 0;
        height: 100%;
    }
}

header > .logo {
    width: 255px;
    float: left;
}

@media (min-width: 240px) and (max-width: 590px) {
    header > .logo {
        float: none;
        margin: 0 auto;
    }
}

header > .motto {
    float: left;
    width: 302px;
    height: 102px;
    border-left: 4px solid #f7302f;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: 27px;
    padding: 54px 0 44px 29px;
    margin: 27px 0 0 0;
    line-height: 34px;
}

@media (min-width: 240px) and (max-width: 590px) {
    header > .motto {
        float: none;
        width: auto;
        border-top: 4px solid #f7302f;
        border-left: none;
    }
}

/* Main section */

main {
    margin-top: 155px;
    clear: both;
    overflow: hidden;
}

/* Twitter timeline */

.twitter-timeline {
    margin-left: 35px;
}

/* Player */

#player-wrapper {
    margin: 0 0 11px 0;
}

#player-wrapper > h2 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    color: #f7302f;
    font-size: 24px;
    text-align: center;
    margin: 0 0 40px 0;
}

#player {
    color: #fff;
    background: #000;
    width: 590px;
    height: 360px;
    position: relative;
}

#player a {
    color: #F7302F;
    text-decoration: none;
}

@media (min-width: 240px) and (max-width: 590px) {
    #player {
        width: auto;
    }
}

#player video {
    width: 100%;
    height: 100%;
}

#player > .play-button {
    width: 135px;
    height: 135px;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#player-wrapper .links {
    margin-top: 5px;
    text-align: right;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
}

#player-wrapper .links a {
    cursor: pointer;
    color: #F7302F;
    font-weight: 400;
}

#player-wrapper .links a.active {
    color: black;
}

/* Post list */

#posts ul {
    list-style: none;
    margin: 0;
}

#posts > ul {
    padding: 0;
}

@media (min-width: 240px) and (max-width: 590px) {
    #posts ul {
        padding: 0 5px;
    }
}

#posts h3 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    margin-bottom: 0;
}

#posts ul li a {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    color: #2034f4;
    text-decoration: none;
    border-bottom: 1px solid;
    line-height: 50px;
    height: 40px;
    display: block;

    white-space: nowrap;
    /*width: 100%;*/
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Left column - social box */

main > .socials {
    width: 255px;
    float: left;
    margin-top: 33px;
    text-align: center;
}

main > .socials > .master {
    margin: 0 auto 27px;
    width: 122px;
    height: 79px;
    display: block;
}

main > .socials > ul {
    list-style: none;
    float: left;
    margin-top: 0;
    margin-bottom: 105px;
    padding: 0 0 0 30px;
}

main > .socials > ul li {
    float: left;
    margin: 0 5px;
}

main > .socials > .speaker-form {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    color: #2034f4;
    text-decoration: none;
    border-bottom: 1px solid;
    font-size: 20px;
}

@media (min-width: 240px) and (max-width: 590px) {
    main > .socials {
        float: none;
        margin: 33px auto 0;
    }
}

/* right column - blockquote container */

main > blockquote {
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    float: left;
    padding: 0 0 0 33px;
    margin: 28px 0 0 0;
    width: 298px;
}

@media (min-width: 240px) and (max-width: 590px) {
    main > blockquote {
        float: none;
        width: auto;
    }
}

main > blockquote > p {
    margin: 0;
    font-weight: 300;
    line-height: 27px;
}

main > blockquote > p > em {
    color: #f7302f;
    font-style: normal;
    font-weight: 500;
}

/* Repeated buildings */

.buildings {
    position: absolute;
    top: 300px;
    left: 0;
    width: 100%;
    height: 120px;
    background: url("../images/panorama238x60.png") repeat-x 0 bottom;
}

@media (min-width: 240px) and (max-width: 590px) {
    .buildings {
        top: 450px;
    }
}

/* Footer */
footer {
    margin: 100px 0 0 0;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
}

footer > p > a {
    color: #2034f4;
    text-decoration: none;
    border-bottom: 1px solid;
}
