<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>WarsawJS</title>

    <meta name="description" content="We talk about JavaScript. Every month in Warsaw, Poland.">
    <meta name="keyword" content="javascipt, ecmascript, meetup, warsaw, warszawa">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:url" content="http://warsawjs.com{{ page.url }}" />
    <meta property="og:image" content="http://warsawjs.com/images/logo240x240.png" />

    <link href="https://plus.google.com/113017992366887580739" rel="publisher"/>

    <link rel="icon" type="image/png" href="/images/favicon16x16.png">

    <link rel="stylesheet" href="/styles/vendor/normalize.css" />
    <link href='http://fonts.googleapis.com/css?family=Fira+Sans:300,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/styles/default.css" />

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-54696769-1', 'auto');
        ga('require', 'linkid', 'linkid.js');
        ga('require', 'displayfeatures');
        ga('send', 'pageview');
    </script>
</head>
<body>
    <div id="page">
        <header>
            <h1 class="logo">
                <a href="/" title="WarsawJS">
                    <img src="/images/logo240x240.png" alt="WarsawJS" />
                </a>
            </h1>

            <h2 class="motto">We talk about JavaScript.<br />Every month in Warsaw, Poland.</h2>
        </header>

        <main>
            {{ content }}

            {% include social.html %}
            {% include description.html %}
        </main>
    </div>

    <div class="buildings"></div>
</body>
</html>
