<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>WarsawJS</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://plus.google.com/113017992366887580739" rel="publisher"/>

    <link rel="stylesheet" href="/styles/vendor/normalize.css" />
    <link href='http://fonts.googleapis.com/css?family=Fira+Sans:300,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/styles/default.css" />
</head>
<body>
    <div id="page">
        <header>
            <a href="/" class="logo">
                <img src="/images/logo240x240.png" alt="Logo" />
            </a>

            <h1 class="motto">We talk about JavaScript Every month in Warsaw Poland</h1>
        </header>

        <main>
            {{ content }}

            {% include social.html %}
            {% include description.html %}
        </main>
    </div>

    <div class="buildings"></div>

    <script src="/scripts/vendors/google/analytics.js"></script>
</body>
</html>
